*.plus{
        width: 30px;
        height: 20px;
        margin-right: 25px;
        color: blue;
        background-color: aqua;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
    .minus{
        width: 30px;
        height: 20px;
        margin-left: 20px;
        color: blue;
        background-color: aqua;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
    .mango{
        width: 50px;
        height: 15px;
        

    }
    .FruitList{
        border-radius: 20px;
        margin-top: 30px;
        display: flex;
        gap: 3rem;
    }
    .apple{
        width: 50px;
        height: 15px;
    }
    .plum{
        width: 50px;
        height: 15px;
    }
    .orange{
        width: 50px;
        height: 15px;
    }
    .grape{
        width: 50px;
        height: 15px;
    }
    .Mango{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-top-left-radius: 80px;
    }
    .Apple{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-top-right-radius: 80px;
    }
    .Plum{
        width: 200px;
        height: 200px;
        padding-left: 15px;
    }
    .Orange{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-bottom-left-radius: 80px;
    }
    .Grape{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-bottom-right-radius: 80px;
    }
    .F{
        width: 32rem;
        height: 32rem;
    }
    .name{
        font-family: algerian;
        font-size: 40px;
    }
    