*.plus{
        width: 30px;
        height: 20px;
        margin-right: 25px;
        color: blue;
        background-color: aqua;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
    .minus{
        width: 30px;
        height: 20px;
        margin-left: 20px;
        color: blue;
        background-color: aqua;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
    .mango{
        width: 50px;
        height: 15px;
        

    }
    .FruitList{
        border-radius: 20px;
        position: relative;
        height: 700px;
        width: 700px;
        margin: auto;
    }
    .apple{
        width: 50px;
        height: 15px;
    }
    .plum{
        width: 50px;
        height: 15px;
    }
    .orange{
        width: 50px;
        height: 15px;
    }
    .grape{
        width: 50px;
        height: 15px;
    }
    .Mango{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-top-left-radius: 80px;
    }
    .Apple{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-top-right-radius: 80px;
    }
    .Plum{
        width: 200px;
        height: 200px;
        padding-left: 15px;
    }
    .Orange{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-bottom-left-radius: 80px;
    }
    .Grape{
        width: 200px;
        height: 200px;
        padding-left: 15px;
        border-bottom-right-radius: 80px;
    }
    .M{
        display: flex; 
        align-items: center;
        width: 300px; 
        height: 220px;
        margin-left: 15px;
        position: absolute;
        top: 30px;
        left: 0;
    }
    .A{
        display: flex; 
        align-items: center;
        width: 300px; 
        height: 220px;
        margin-right: 15px;
        position: absolute;
        top: 30px;
        right: 0;
    }
    .P{
        display: flex; 
        align-items: center;
        width: 300px; 
        height: 220px;
        margin-left: 230px;
        position: absolute;
        top: 50%;
        left: 160px;
        transform: translate(-50%, -50%);
    }
    .O{
        display: flex; 
        align-items: center; 
        width: 300px; 
        height: 220px;
        margin-left: 15px;
        position: absolute;
        bottom: 17px;
        left: 0;
    }
    .G{
        display: flex; 
        align-items: center;
        width: 300px; 
        height: 220px;
        margin-right: 15px;
        position: absolute;
        bottom: 17px;
        right: 0;
    }
    .Search{
        margin-top: 4px;
        margin-left: 220px;
        padding-left: 100px;
        padding-top: 6px;
    }
    